/************************** Contact **************************/


#contact {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Background */


.bg-contact {
    position: absolute;
    left: 10%;
    width: 90%;
    height: 100%;
    background: #FFF2C5;
    background-image: url('../img/background-contact.png');
    background-size: cover;
    border-radius: 3px;
}

/*animated image */

.image-anim-contact>img {
    position: absolute;
    z-index: 1;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

.image-anim-contact>img:nth-child(1) {
    animation-delay: 2s;
    width: 50vh;
    height: 40vh;
    right: 5%;
    top: 0%;
}

.image-anim-contact>img:nth-child(2) {
    width: 40vh;
    height: 40vh;
    left: 15%;
    top: 70%;
}

/* Contact  */

.contact-container {

    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 60%;
    height: 90vh;
    font-family: glacial indifference, sans-serif;

}

.title-contact {
    font-size: 50px;

}

.list-contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 0 auto;
}

.contact-detail {
    width: 160px;
    height: 160px;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.contact-detail:nth-child(4) {
    grid-column: 2;
}

/* Logo contact  */

.svg-contact {
    width: 80px;
    height: 80px;
}